# ComfyUI Host & Port
COMFYUI_URL=http://127.0.0.1:8188

# Application Server Host & Port
HOST=127.0.0.1
PORT=8000

# ComfyUI Directories (relative to backend folder or absolute paths)
COMFYUI_INPUT_DIR=../ComfyUI/input
COMFYUI_OUTPUT_DIR=../ComfyUI/output
